/*==================================================
MANIC MADHOUSE DTF DESIGNS
VARIABLES.CSS
VERSION 6.0
==================================================*/

:root{

    --primary:#ff007a;
    --secondary:#7b2cff;
    --accent:#00d4ff;

    --dark:#0b0b11;
    --dark2:#12121b;
    --dark3:#1b1b28;

    --white:#ffffff;
    --text:#cfcfcf;

    --radius:24px;

    --shadow:
        0 20px 50px rgba(0,0,0,.35);

    --transition:.35s ease;

}
